input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

@font-face {
  font-family: "libre-baskerville";
  src: url("../fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "pacifico";
  src: url("../fonts/Pacifico-Regular.ttf");
}

$colour1: #ffc0cb;
$colour2: #a0e7e5;
$colour3: #d4a5a5;
$colour4: #ffd97d;

$colour5: #000000;
$colour6: #eaeaea;
$colour7: #ff007a;
$colour8: #0a84ff;

$font1: "libre-baskerville";
$font2: "montserrat";
$font3: "pacifico";

$fontSizeBody: 21px;

$margin1: 14px;

$route-height: 90vh;
