@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Condensed:wght@300&display=swap");

$font1: "Roboto Condensed", sans-serif;
$font2: "Comfortaa", cursive;

$colour1: #333;
$colour2: #f8f8f8;

$padding1: 6px 6%;
$padding2: 12px 2%;
