@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: $font1;
  color: $colour1;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: $font2;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
