@import "variables.scss";

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $font1;
  margin: 0;
  outline: none;
  text-decoration: none;
}

.app {
  background-color: $colour2;
  min-height: 100vh;
  overflow: hidden;
  .routes {
    padding-top: 60px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font2;
}
